/* Corpo */
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

/* header */
header{
   background-image: url(../images/bg-header-desktop.png); 
   background-repeat: no-repeat;
   height: 500px;
   width: 100%;
   margin-bottom: 100px;
}

/* Logo */
.divLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin-top: 150px;
}

/* introduçao */
.introducao{
    font-size: 18px;
    text-align: center;
}
.introducao p{
    opacity: 60%;
}
/* botao download */

.botoesDownload{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 15px;
}
@media screen and (max-width:800px) {
    .botoesDownload{
        margin-bottom: 20px;
    }
    picture img{
        width: 400px;
    }
    .imageComputer{
        width: 400px;
        height: 300px;
    }
    .introducao{
        font-size: 14px;
    }
    section h1 {
        font-size: 14px;
    }
    section p{
        font-size: 12px;
        opacity: 60%;
    }
} 

#btnIos{
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color:  hsl(171, 66%, 44%);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
#btnIos:hover{
    box-shadow: hsl(171, 75%, 54%)  0 0 10px ;
}
#btnMec{
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color:  hsl(233, 100%, 69%);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
#btnMec:hover{
    box-shadow: hsl(233, 83%, 65%)  0 0 10px ;
}

/* span */
span{
    margin-top: 150px;
}

@media screen and (max-width:900px) {
    article{
        flex-direction: column;
        justify-content: center;
    }
    .imageDevices{
        width: 400px;
     }
     #imgs{
        width:20px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
     }
     .icons-app{
        margin-top: 400px;
        margin-left: 20px; flex-direction: column;
     }
     .links-footer{
        flex-direction: column;
     }
}
/* ARTICLE */

article{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-bottom: 100px;
}
.iformApp{
    font-size: 18px;
}
.iformApp p{
    opacity: 60%;
    margin-bottom: 20px;
}

/* Section */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
}

section h1 {
    font-size: 18px;
}
section p{
    font-size: 15px;
    opacity: 60%;
}

#imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 150px;
}

/* footer */

footer{
    display: flex;
    width: 100%;
    height: 160px;
    background-color: #eeeeee;
    margin-top: 100px;
}

.logo-footer{
    margin-left: 170px;
    margin-top: 50px;
}

ul{
    list-style: none;
}
li a{
    text-decoration: none;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);
}
li a:hover{
    color: hsl(171, 66%, 44%) ;
}
.links-footer{
    display: flex;
}

.column{
    padding-left: 40px;
    padding-top: 50px;
    font-size: 18px;
}

.icons-footer{
    margin-top: 50px;
    margin-left: 180px;
}

.icons-footer img{
    padding-left: 30px;
}

.icons-app{
    cursor: pointer;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.icons-app svg:hover path {
    fill:  hsl(171, 66%, 44%);
}

@media screen and (max-width:1100px) {
   .logo-footer{
    margin-left: 10px;
   }
   footer{
    height: 300px;

   }
   @media screen and (max-width:1000px) {
    .icons-footer{
        margin-left: 50px;
    }

   }
 
}
@media screen and (max-width:600px) {
    .icons-footer{
        margin-left: 20px;
    }
    .column{
        padding-left: 20px;
        padding-top: 20px;
        font-size: 9px;
        display: flex;
        flex-direction: column;
    }
   }
